
/* Width */
.w-5p {
    width: 5%;
}
.w-2em {
    width: 2em;
}
.w-3em {
    width: 3em;
}
.w-5em {
    width: 5em;
}
.w-7em {
    width: 7em;
}

/* Margin */
.mr-3p {
    margin-right: 3%;
}
.mr-5p {
    margin-right: 5%;
}

/* Flex */
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-align-base {
    align-items: baseline;
}
.justify-center {
    justify-content: center;
}

/* Text align */
.text-align-r {
    text-align: right;
}
.text-align-l {
    text-align: left;
}

/* Input */
.input-text-align-r input {
    text-align: right;
}